<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <% if current_user %>
  Welcome,
  <%= current_user.user_name %> !
  <%= button_to "Logout", logout_url, method: :delete%>
  <% else %>
  <%= button_to "Login", new_session_url, method: :get%>
  <% end %>
</header>
<body>

<%= yield %>

<footer>
  This is our 99 Cats site. Please feel free to browse!
  <%= yield :footer %>
</footer>

</body>
</html>
